@import "tailwindcss";
@import "tw-animate-css";

:root {
    --background: #111111;
    --foreground: #eeeeee;
    --foreground-muted: #b5b5b5;
    --card-bg: #0f0f0f;
    --card-border: #2a2a2a;
    --inner-card-bg: #191919;
    --inner-card-border: #222222;
    --icon: #7b7b7b;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-foreground-muted: var(--foreground-muted);
    --color-card-bg: var(--card-bg);
    --color-card-border: var(--card-border);
    --color-inner-card-bg: var(--inner-card-bg);
    --color-inner-card-border: var(--inner-card-border);
    --color-icon: var(--icon);

    --font-sans: var(--font-manrope);
    --animate-marquee: marquee var(--duration) infinite linear;
    --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;

    @keyframes marquee {
        from {
            transform: translateX(0);
        }

        to {
            transform: translateX(calc(-100% - var(--gap)));
        }
    }

    @keyframes marquee-vertical {
        from {
            transform: translateY(0);
        }

        to {
            transform: translateY(calc(-100% - var(--gap)));
        }
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans);
}